<section>
{%- if VIDEOS != None -%}
    {%- set artist = {"artist":None} -%}
    <ul id="library">
    {% for VIDEO in VIDEOS %}
        {%- if VIDEO.artist != artist["artist"] -%}
            {% if artist["artist"] != None %}
            </ul>
        </li>
            {% endif %}
            {% if artist.update({"artist":VIDEO.artist}) %}{% endif %}
        <li class="itemArtist">
            <span class="artist" onclick="toggleArtist(this)">{{ artist["artist"] }}</span>
            <span onclick="trashArtist(this)"><i class="far fa-trash-alt trash"></i></span>
            <ul id="{{ artist["artist"] }}">
        {% endif %}
                <li data-ID="{{ VIDEO.id }}">
                    <form class="editForm">
                        {{ FORM_EDIT_VIDEO_BUTTON.hidden_tag() }}
                        <button class="editButton" type="submit" formaction="/videos/{{ VIDEO.id }}/edit" formmethod="GET"><i class="far fa-edit edit"></i></button>
                    </form>
                    <span class="video" onclick="playVideo('{{ VIDEO.video_id }}')">{{ VIDEO.title }}</span>
                    <span onclick="trashVideo(this)"><i class="far fa-trash-alt trash"></i></span>
                </li>
    {% endfor %}
            </ul>
        </li>
    </ul>
{%- endif %}
</section>
