<section>
{%- if VIDEOS != None -%}
    {%- set artist = {"artist":None} -%}
    <ul id="library">
    {%- for VIDEO in VIDEOS -%}
        {%- if VIDEO.artist != artist["artist"] -%}
            {%- if artist["artist"] != None -%}
            </ul>
        </li>
            {%- endif -%}
            {%- if artist.update({"artist":VIDEO.artist}) -%}{%- endif -%}
        <li>{{ artist["artist"] }}
            <ul id="{{ artist["artist"] }}">
        {%- endif -%}
                <li><a href="/{{ VIDEO.video_id }}">{{ VIDEO.title }}</a></li>
    {%- endfor -%}
            </ul>
        </li>
    </ul>
{%- endif %}
</section>
