<form id="logInOut">
    {{ FORM_LOG.hidden_tag() }}
    <input id="from_route" name="from_route" type="hidden" value="{{ FROM_ROUTE }}">
    <fieldset>
        {%- if "username" in session -%}
        <legend>&nbsp;Log out&nbsp;</legend>
            <a class="username" href="/users/{{ USER_ID }}/edit">{{ session["username"] }}</a>
            <button class="btn buttonRight" type="submit" formaction="/logout" formmethod="POST">Log out</button>
        {%- else -%}
        <legend>&nbsp;Log in / Register&nbsp;</legend>
            <label class="username">Username: <input id="log_username" name="log_username" type="text" placeholder="Enter your username"></label>
            &nbsp; &nbsp;
            <label class="username">Password: <input id="log_password" name="log_password" type="password" placeholder="Enter your password"></label>
            &nbsp; &nbsp;
            <button class="btn" type="submit" formaction="/login" formmethod="POST">Log in</button>
            <button class="btn buttonRight" type="submit" formaction="/register" formmethod="POST">Register</button>
        {%- endif -%}
    </fieldset>
    {%- with MESSAGES = get_flashed_messages() -%}
        {%- if MESSAGES -%}
            {%- for MSG in MESSAGES -%}
            <div>{{ MSG }}</div>
            {%- endfor -%}
        {%- endif -%}
    {%- endwith %}
</form>
