<section id="sectionMenu">
    <ul id="menu" class="background">
        <li><a href="/">Home</a></li>
        <li><hr></li>
        <li>About</li>
        <li>Settings</li>
        <li><a href="/search">Search</a> ({{ SEARCHES }} remaining)</li>
        <li>
            <form>
                {{ FORM_ADD_VIDEO_BUTTON.hidden_tag() }}
                <button class="btn" type="submit" formaction="/videos/new" formmethod="GET">Add Video</button>
                <span> (<span id="videoCount">{{ VIDEO_COUNT }}</span> of {{ MAX_VIDEOS }})</span>
            </form>
        </li>
        <li><hr></li>
        <li id="playlists"><span class="sans-serif">PLAYLISTS</span>
        {%- if PLAYLISTS != None -%}
            <ul>
            {% for PLAYLIST in PLAYLISTS %}
                <li data-ID="{{ PLAYLIST.id }}">
                    <form class="editForm">
                        {{ FORM_EDIT_PLAYLIST_BUTTON.hidden_tag() }}
                        <button class="iconButton" type="submit" formaction="/playlists/{{ PLAYLIST.id }}/edit" formmethod="GET"><i class="far fa-edit edit"></i></button>
                    </form>
                    <a class="playlist" href="/playlists/{{ PLAYLIST.id }}">{{ PLAYLIST.name }}</a>
                    <span onclick="trashPlaylist(this)"><i class="far fa-trash-alt trash"></i></span>
                </li>
            {% endfor %}
            </ul>
        {%- endif %}
        </li>
        <li><hr></li>
        <li>
            <form>
                {{ FORM_ADD_PLAYLIST_BUTTON.hidden_tag() }}
                <button class="btn" type="submit" formaction="/playlists/new" formmethod="GET">Add Playlist</button>
                <span> (<span id="playlistCount">{{ PLAYLIST_COUNT }}</span> of {{ MAX_PLAYLISTS }})</span>
            </form>
        </li>
        <li><hr></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/">Open YouTube</a></li>
    </ul>
</section>
