<section id="sectionSearch">
    <div id="search" class="background">SEARCH</div>
    <form id="searchForm" class="background">
        {{ FORM_SEARCH.hidden_tag() }}
        {%- for FIELD in FORM_SEARCH
                if FIELD.widget.input_type != "hidden" -%}
        <div>
            {{ FIELD.label }}
            {{ FIELD }}
        </div>
            {%- for ERROR in FIELD.errors -%}
        <div>
            {{ ERROR }}
        </div>
            {%- endfor -%}
        {%- endfor -%}
        <br>
        <button class="btn" type="submit" formaction="/search" formmethod="POST">Search</button>
        <br>
        <br>
        {%- with MESSAGES = get_flashed_messages() -%}
            {%- if MESSAGES -%}
                {%- for MSG in MESSAGES -%}
                <div class="message">{{ MSG }}</div>
                {%- endfor -%}
            {%- endif -%}
        {%- endwith -%}
    </form>
</section>
