body {
    background-color: #202020;
    background-image: url("images/background-jukebox.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset legend {
    font-size: 110%;
    font-weight: bold;
    color: gold;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

iframe {
    width: 100%;
    height: -moz-calc((98vw - 200px - 200px - 28px) * 0.60);
    height: -webkit-calc((98vw - 200px - 200px - 28px) * 0.60);
    height: -o-calc((98vw - 200px - 200px - 28px) * 0.60);
    height: calc((98vw - 200px - 200px - 28px) * 0.60);
    padding: 5px;
}

ul {
    padding-left: 0.5em;
    list-style-type: none;
}

.arrow {
    border: none;
    background: none;
}

.artist {
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
}

.background {
    margin: 5px 0px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(192, 192, 192, 0.85); /* silver #C0C0C0 */
}

.backgroundNext {
    margin: 5px 0px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}

.buttonRight {
     float: right;
}

.center {
    text-align: center;
}

.edit {
    color: gold;
}

.editForm {
    display: inline;
}

.hidden {
    display: none;
}

.iconButton {
    border: none;
    padding: 0px;
    background: none;
}

.itemArtist {
    margin-bottom: 10px;
}

.jukeText {
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: orangered;
}

.message {
    text-align: center;
    color: red;
}

.nextButton {
    font-size: 400%;
    cursor: pointer;
}

.playlist {
    text-decoration: underline;
    cursor: pointer;
}

.sans-serif {
    font-family: sans-serif;
}

.siteHeader {
    padding: 10px 0px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 300%;
    color: whitesmoke;
    background-color: #202020;
}

.trash {
    color: red;
}

.username {
    display: inline-block;
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    text-decoration-color: white;
}

.video {
    text-decoration: underline;
    cursor: pointer;
}

.prevArrow {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    width: 94px;
    text-align: center;
}

.searchThumbnail {
    display: none;
    margin: 10px;
    width: 200px;
}

.imageThumbnail {
    margin: 5px;
    height: 150px;
    width: 200px;
    border: solid 2px white;
}

.titleThumbnail {
    display: inline-block;
    margin-bottom: 10px;
    width: 200px;
}

img:hover {
    border: solid 2px yellow;
}

.nextArrow {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    width: 94px;
    text-align: center;
}

#keywords {
    height: 5em;
}

#library {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

#libraryName {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 150%;
}

#logInOut {
    padding: 5px 0px;
    background-color: #202020;
}

#menu {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

#search {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 150%;
}

#searchForm {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 185px;
    text-align: center;
}

#videoBanner {
    display: inline-block;
    padding: 5px;
    font-size: 1.5em;
    color: gold;
}

#sectionContent {
    display: inline-block;
    width: -moz-calc(98vw - 200px - 200px - 28px);
    width: -webkit-calc(98vw - 200px - 200px - 28px);
    width: -o-calc(98vw - 200px - 200px - 28px);
    width: calc(98vw - 200px - 200px - 28px);
}

#sectionYTPlayer {
    display: inline-block;
    width: -moz-calc(98vw - 200px - 200px - 28px);
    width: -webkit-calc(98vw - 200px - 200px - 28px);
    width: -o-calc(98vw - 200px - 200px - 28px);
    width: calc(98vw - 200px - 200px - 28px);
    text-align: center;
}

#sectionLibrary {
    display: inline-block;
    vertical-align: top;
}

#sectionMenu {
    display: inline-block;
    vertical-align: top;
}

#sectionSearches {
    text-align: center;
    color: white;
}

#sectionSearch {
    display: inline-block;
    vertical-align: top;
}

#sectionParent {
}

#sectionPage {
    display: inline-block;
    padding: 10px;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

#sectionPage h1 {
    font-size: 3em;
}

#sectionPage h1+div {
    margin-bottom: 15px;
}

#sectionPage label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

@media screen and (min-width: 901px) {
    .searchThumbnail:nth-child(-n+3) {
        display: inline-block;
        margin: 10px;
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    iframe {
        width: 100%;
        height: -moz-calc((98vw - 200px - 28px) * 0.60);
        height: -webkit-calc((98vw - 200px - 28px) * 0.60);
        height: -o-calc((98vw - 200px - 28px) * 0.60);
        height: calc((98vw - 200px - 28px) * 0.60);
        padding: 5px;
    }

    #library {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
    }

    #menu {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #search {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
        text-align: center;
        font-size: 150%;
    }

    #searchForm {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
        text-align: center;
    }

    #sectionContent {
        display: inline-block;
        width: -moz-calc(98vw - 200px - 28px);
        width: -webkit-calc(98vw - 200px - 28px);
        width: -o-calc(98vw - 200px - 28px);
        width: calc(98vw - 200px - 28px);
    }

    #sectionYTPlayer {
        display: inline-block;
        width: -moz-calc(98vw - 200px - 28px);
        width: -webkit-calc(98vw - 200px - 28px);
        width: -o-calc(98vw - 200px - 28px);
        width: calc(98vw - 200px - 28px);
        text-align: center;
    }

    #sectionMenu {
        position: fixed;
        left: 0px;
        bottom:0px;
        display: initial;
        vertical-align: initial;
        display: initial;
    }

    #sectionPage {
        display: inline-block;
        padding: 10px;
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
        text-align: center;
    }

    #sectionSearches {
        text-align: initial;
        color: white;
    }

    .nextButton {
        font-size: 300%;
        cursor: pointer;
    }

    .prevArrow {
        display: inline-block;
        margin-left: 215px;
        vertical-align: middle;
        height: 150px;
        width: 50px;
        text-align: center;
    }

    .searchThumbnail {
        display: none;
        margin: 0px;
        width: 150px;
        text-align: center;
    }

    .searchThumbnail:nth-child(-n+1) {
        display: inline-block;
        margin: 0px;
        width: 150px;
        text-align: center;
    }

    .imageThumbnail {
        margin: 5px;
        height: 150px;
        width: 150px;
        border: solid 2px white;
    }

    .titleThumbnail {
        margin-bottom: 10px;
        display: inline-block;
        width: 150px;
    }

    .nextArrow {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        height: 150px;
        width: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    fieldset legend {
        font-size: 100%;
        font-weight: bold;
        color: whitesmoke;
    }

    iframe {
        width: 100%;
        height: -moz-calc((98vw - 28px) * 0.60);
        height: -webkit-calc((98vw - 28px) * 0.60);
        height: -o-calc((98vw - 28px) * 0.60);
        height: calc((98vw - 28px) * 0.60);
        padding: 5px;
    }

    #library {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 175px;
    }

    #menu {
        display: block;
        width: 175px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #search {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 175px;
        text-align: center;
        font-size: 150%;
    }

    #searchForm {
        margin-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 175px;
        text-align: center;
    }

    #sectionContent {
        display: inline-block;
        width: -moz-calc(98vw - 28px);
        width: -webkit-calc(98vw - 28px);
        width: -o-calc(98vw - 28px);
        width: calc(98vw - 28px);
    }

    #sectionYTPlayer {
        display: inline-block;
        width: -moz-calc(98vw - 28px);
        width: -webkit-calc(98vw - 28px);
        width: -o-calc(98vw - 28px);
        width: calc(98vw - 28px);
        text-align: center;
    }

    #sectionLibrary {
        position: fixed;
        right: 0px;
        bottom: 0px;
        display: initial;
        vertical-align: initial;
    }

    #sectionMenu {
        position: fixed;
        left: 0px;
        bottom: 0px;
        display: initial;
        vertical-align: initial;
    }

    #sectionSearch {
        position: fixed;
        right: 0px;
        bottom: 0px;
        display: initial;
        vertical-align: initial;
    }

    #sectionPage {
        display: inline-block;
        padding: 10px;
        margin-top: 25px;
        margin-left: 25%;
        width: 50%;
        text-align: center;
    }

    #sectionSearches {
        text-align: center;
        color: white;
    }

    .nextButton {
        font-size: 300%;
        cursor: pointer;
    }

    .prevArrow {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        height: 150px;
        width: 50px;
        text-align: center;
    }

    .searchThumbnail {
        display: none;
        margin: 0px;
        width: 150px;
        text-align: center;
    }

    .searchThumbnail:nth-child(-n+1) {
        display: inline-block;
        margin: 0px;
        width: 150px;
        text-align: center;
    }

    .imageThumbnail {
        margin: 5px;
        height: 150px;
        width: 150px;
        border: solid 2px white;
    }

    .titleThumbnail {
        margin-bottom: 10px;
        display: inline-block;
        width: 150px;
    }

    .nextArrow {
        display: inline-block;
        margin-left: initial;
        vertical-align: middle;
        height: 150px;
        width: 50px;
        text-align: center;
    }

    .siteHeader {
        padding: 10px 0px;
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 250%;
        color: whitesmoke;
        background-color: #202020;
    }
}

.btn {
    background-color: hsl(351, 68%, 11%) !important;
    background-repeat: repeat-x;
    background-image: -o-linear-gradient(top, #d12741, #2f080e);
    background-image: linear-gradient(#d12741, #2f080e);
    border-color: #2f080e #2f080e hsl(351, 68%, 1.5%);
    border-radius: 5px;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
    padding: 5px;
}

.btn:hover {
    background-color: hsl(360, 68%, 60%) !important;
    background-repeat: repeat-x;
    background-image: linear-gradient(#fbeded, #de5353);
    border-color: #de5353 #de5353 hsl(360, 68%, 51%);
    border-radius: 5px;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
    padding: 5px;
}
