ul {
    padding-left: 1em;
    list-style-type: none;
}

.artist {
    background-color: antiquewhite;
    text-decoration: underline;
    cursor: default;
}

.hidden {
    display: none;
}

.itemArtist {
    margin-bottom: 10px;
}

.video {
    text-decoration: underline;
    cursor: grab;
}

#library {
    width: 220px;
}

#menu {
    width: 80px;
}
