<!DOCTYPE html>
<html>
    <head>
        <title>JukeBox</title>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/scripts.js"></script>
    </head>
    <body>
        {%- include "include/banner.html" -%}
        <h1>Add Playlist</h1>
        <form>
            {{ FORM.hidden_tag() }}
            {%- set COUNT = {"COUNT":0} -%}
            {%- for FIELD in FORM
                    if FIELD.widget.input_type != "hidden" -%}
                {%- if COUNT["COUNT"] == 0 -%}
            <div>
                    {% if COUNT.update({"COUNT":1}) %}{% endif %}
                    {{ FIELD.label }}
                    {{ FIELD }}
            </div>
                {%- endif -%}
                {%- for ERROR in FIELD.errors -%}
                {{ ERROR }}
                {%- endfor -%}
            {%- endfor -%}
            {%- include "include/playlist.html" -%}
            <button type="submit" formaction="/playlists/new" formmethod="POST">Add</button>
            <button type="submit" formaction="/" formmethod="POST" formnovalidate=True>Cancel</button>
            {%- with MESSAGES = get_flashed_messages() -%}
                {%- if MESSAGES -%}
                    {%- for MSG in MESSAGES -%}
                    <div>{{ MSG }}</div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
        </form>
    </body>
</html>
