<!DOCTYPE html>
<html>
    <head>
        <title>JukeBox</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/scripts.js"></script>
    </head>
    <body>
        <h1>Register</h1>
        <div>Register for our site.</div>
        <form>
            {{ form_register.hidden_tag() }}
            {% for field in form_register
                    if field.widget.input_type != "hidden" %}
            <div>
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" formaction="/register" formmethod="POST">Register</button>
            {% with MESSAGES = get_flashed_messages() %}
                {% if MESSAGES %}
                    {% for MSG in MESSAGES %}
                    <div>{{ MSG }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </body>
</html>
