<!DOCTYPE html>
<html>
    <head>
        <title>JukeBox</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/scripts.js"></script>
    </head>
    <body>
        <h1>Register</h1>
        <div>Register for our site.</div>
        <form>
            {{ FORM_REGISTER.hidden_tag() }}
            {% for FIELD in FORM_REGISTER
                    if FIELD.widget.input_type != "hidden" %}
            <div>
                {{ FIELD.label }}
                {{ FIELD }}
                {% for ERROR in FIELD.errors %}
                {{ ERROR }}
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" formaction="/register" formmethod="POST">Register</button>
            {% with MESSAGES = get_flashed_messages() %}
                {% if MESSAGES %}
                    {% for MSG in MESSAGES %}
                    <div>{{ MSG }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </body>
</html>
